body {
    background-color: rgba(212,26,89, 156);
    text-align: center;
}

h1 {
    text-decoration-color: aqua;
    text-align: center;
}

h2 {
    text-decoration-color: antiquewhite;
    text-align: center;
}

h3 {
    width: auto;
    padding: 2px;
    margin: auto;
    border: 3px;
}
